<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceDirectory" value="%LOGONSERVER%\netlogon\Fonts"/>
		<add key="TargetDirectory" value="C:\Users\%USERNAME%\AppData\Local\Microsoft\Windows\Fonts"/>
		<!-- SMTP -->
		<add key="DebugMode" value="true"/>
		<add key="SmtpServer" value="mailone.refolio.ch"/>
		<add key="SmtpPort" value="25"/>
		<add key="SenderEmail" value="solvia-copy-files@refolio.ch"/>
		<add key="RecipientEmail" value="refolio@solvia.ch"/>
		<add key="EmailSubject" value="Solvia - Copy files at logon"/>
		<add key="SendEmail" value="true"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>